In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from numpy.random import normal
from math import ceil

In [2]:
data_1 = pd.read_csv('data_1.csv')

In [3]:
data_2 = pd.read_csv('data_2.csv')

In [4]:
data_2

,Frequency [MHz],Redshift,Age [Myr],H1: Weight,H1: T21 [K],H2: Weight,H2: T21 [K],H3: Weight,H3: T21 [K],H4: Weight,H4: T21 [K],H5: Weight,H5: T21 [K],H6: Weight,H6: T21 [K],P8: Weight,P8: T21 [K]
0,50.012207,27.393068,114.764730,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
1,50.402832,27.173020,116.111878,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
2,50.793457,26.956357,117.464255,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
3,51.184082,26.743000,118.821840,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,-0.099255
4,51.574707,26.532876,120.184615,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,0.021244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,98.059082,13.481066,315.050163,1.0,0.018393,1.0,0.004322,1.0,0.013156,1.0,0.002016,1.0,-0.009484,1.0,0.026208,1.0,0.006636
124,98.449707,13.423608,316.934103,1.0,-0.022921,1.0,0.012686,1.0,0.008131,1.0,0.002416,1.0,0.047994,1.0,0.048379,1.0,0.018816
125,98.840332,13.366605,318.821776,1.0,-0.011356,1.0,-0.044846,1.0,-0.013968,1.0,-0.033046,1.0,-0.080591,1.0,-0.156673,1.0,-0.033625
126,99.230957,13.310050,320.713175,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
127,99.621582,13.253939,322.608291,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [5]:
freq = data_2.iloc[:,0]
z =data_2.iloc[:,1]

In [6]:
v_0 = (z+1)*freq

In [9]:
v_0

0      1419.999994
1      1419.999994
2      1420.000017
3      1419.999987
4      1420.000013
          ...
123    1420.000038
124    1419.999981
125    1420.000008
126    1419.999956
127    1419.999953
Length: 128, dtype: float64

In [8]:
np.exp(-0.5*(45908.16797713097))

0.0

In [8]:
x = np.ones((10,1))
x[3]=2

In [9]:
for i in x:
    print(i)

[1.]
[1.]
[1.]
[2.]
[1.]
[1.]
[1.]
[1.]
[1.]
[1.]